
body{
    background-color: rgb(110, 120, 153);
}
/* Add styles here to customize the appearance of your app */
*{
    padding:0;
    margin: 0;
    /* border: 1px solid black; */
  }
  
  * {
    box-sizing: border-box;
    border-radius: 4px;
  }

.login-form {
    width: 300px;
    background-color:#334b80;
    margin-right: auto;
    margin-left: auto;
    margin-top: 15%;
    padding: 20px;
    text-align: center;
    border: none;
    
}
 
#signInEmail {
  font-size: 14px;
  padding: 10px;
  border: none;
  width: 260px;
  margin-bottom: 10px;
}
#signInPassword{
  font-size: 14px;
  padding: 10px;
  border: none;
  width: 260px;
  margin-bottom: 10px;

}

#signInButton {
  font-size: 14px;
  border: none;
  padding: 10px;
  width: 260px;
  background-color: #dbdbdb;
  margin-bottom: 30px;
  font-family : "Neodgm";
  font-size: 15px;
  color: rgb(70, 70, 70);
}
 
#or_label{
  position: absolute;
  z-index: 1;
  font-size: 20px;
  margin-left: -9px;
  margin-top: 13px;
  color:#ffffff;
}
/* ------------------------------------------------------------------- */
/* 구글 로그인 css */
/* ------------------------------------------------------------------- */
.googleLogin_form{
  position: absolute;
  width: 300px;
  height: 75px;
  background-color:#334b80;
  margin-top: 24px;
  padding: 20px;
  margin-left: -20px;
  text-align: center;
  border: none;
}
#googleLoginButton{
  width: 260px;
  height: 35px;
  position: absolute;
  margin-left: -130px;
  margin-top: 45px;
  background-color: #fff;
  border-radius: 4px;
  border: none;
}


  .google-icon-wrapper {
    position: absolute;
    margin-top: -9px;
    margin-left: 1px;
    width: 35px;
    height: 35px;
    border-radius: 2px;
    background-color: #fff;
  }
  .google-icon {
    position: absolute;
    margin-top: 9px;
    margin-left: -9px;
    width: 18px;
    height: 18px;
  }
  .btn-text {
    float: right;
    margin: -1px 45px 0 0;
    color: rgba(0, 0, 0, 0.54);
    font-size: 14px;
    letter-spacing: 0.2px;
    font-family: "Roboto";
  }
  #googleLoginButton:hover {
    box-shadow: 0 0 10px #4285f4;
  }
  .google-btn :active {
    background: #000000;
  }
@import url(https://fonts.googleapis.com/css?family=Roboto:500);
/* ------------------------------------------------------------------- */
/* 구글 로그인 css 끝 */
/* ------------------------------------------------------------------- */
